{% extends "_base.html" %}
{% set title = "Register" %}

{% block content %}
  <div class="card">
    <div class="h1">Register</div>
    <p class="muted">Creează un cont nou.</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for m in messages %}
          <div class="flash">{{ m }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post" class="row" style="margin-top:12px;">
      <input name="username" placeholder="Username" />
      <input name="password" type="password" placeholder="Password" />
      <button class="btn primary" type="submit">Create account</button>
    </form>
  </div>
{% endblock %}